/*varible*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, 
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: top; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

img {
  max-width: 100%;
  height: auto; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

* {
  box-sizing: border-box; }

* {
  transition: all 0.5s ease 0s; }

*:focus {
  outline: none; }

a {
  text-decoration: none;
  color: initial; }
  a:hover {
    color: #127e09; }

strong {
  font-weight: bold; }

body {
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal; }

input, textarea {
  font-family: 'Open Sans', sans-serif; }

.btn {
  font-size: 16px;
  color: #243639;
  text-align: center;
  border: solid 1px #9aadc0;
  border-radius: 3px;
  padding: 10px 15px;
  cursor: pointer;
  background: #fff;
  margin: 0px auto;
  display: inline-block; }
  @media (max-width: 479px) {
    .btn {
      font-size: 13px;
      padding: 5px 10px; } }
  .btn:hover {
    color: #fff;
    background-color: #127e09;
    border: solid 1px #127e09; }

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0px 15px;
  margin: 0px auto; }

.home header {
  height: 900px; }

header .container {
  height: 100%; }

header .head {
  padding: 20px 0px;
  position: relative; }
  header .head .logo {
    float: left; }
    @media (max-width: 979px) {
      header .head .logo {
        margin-left: 55px; } }
    @media (max-width: 479px) {
      header .head .logo {
        margin-left: 50px; } }
    header .head .logo a {
      margin-top: 8px;
      display: block; }
      @media (max-width: 479px) {
        header .head .logo a {
          margin-top: 13px; } }
      header .head .logo a:hover p {
        color: #000; }
    header .head .logo img {
      max-width: 150px; }
      @media (max-width: 479px) {
        header .head .logo img {
          max-width: 100px; } }
    header .head .logo p {
      font-size: 10px;
      font-style: italic;
      color: #000; }
      @media (max-width: 767px) {
        header .head .logo p {
          display: none; } }
  header .head .menu {
    float: right; }
    header .head .menu ul {
      padding: 24px 0px; }
      header .head .menu ul li {
        display: inline-block;
        margin: 6px 15px; }
        header .head .menu ul li a {
          color: white;
          font-size: 20px;
          font-weight: bold;
          color: #000; }
          header .head .menu ul li a:hover {
            color: #127e09; }
        header .head .menu ul li:last-child {
          margin-right: 0px; }

.login-bg {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -1; }

.loginsection .box {
  max-width: 400px;
  margin: 0px auto;
  padding: 100px 0px 100px; }
  .loginsection .box .text {
    font-size: 0px;
    margin-bottom: 30px; }
    .loginsection .box .text p {
      font-size: 30px;
      display: inline-block;
      text-align: center;
      width: 100%;
      color: #000;
      cursor: pointer;
      font-weight: bold; }
    .loginsection .box .text .line {
      padding-bottom: 15px; }
    .loginsection .box .text .line.singup:after {
      left: 63%;
      transition: all 0.2s ease 0s;
      -ms-transform: none;
      -moz-transform: none;
      -o-transform: none;
      -webkit-transform: none;
      transform: none;
      background-color: #ffffff; }
    .loginsection .box .text .line.login:after {
      left: 12%;
      -ms-transform: none;
      -moz-transform: none;
      -o-transform: none;
      -webkit-transform: none;
      transform: none;
      transition: all 0.2s ease 0s;
      background-color: #ffffff; }
  .loginsection .box .filed {
    font-size: 0px;
    position: relative; }
    .loginsection .box .filed .filedbox {
      transition: all 0.2s ease 0s;
      background-color: #d7e7f1;
      width: 100%;
      display: inline-block;
      border-radius: 5px;
      overflow: hidden;
      z-index: 1; }
      .loginsection .box .filed .filedbox .form {
        padding: 20px 20px;
        background-color: #fff;
        border-radius: 5px; }
        .loginsection .box .filed .filedbox .form .input {
          margin: 20px 0px; }
          .loginsection .box .filed .filedbox .form .input label {
            font-size: 16px;
            color: #000;
            display: block;
            margin-bottom: 5px; }
          .loginsection .box .filed .filedbox .form .input input {
            display: block;
            width: 100%;
            border: 1px solid #b7b7b7;
            border-radius: 5px;
            background-color: #ffffff;
            line-height: 45px;
            padding: 0px 10px; }
            .loginsection .box .filed .filedbox .form .input input:focus {
              border: 1px solid #127e09; }
          .loginsection .box .filed .filedbox .form .input .btn {
            font-size: 16px;
            font-weight: bold;
            margin-top: 25px;
            display: block;
            cursor: pointer;
            display: block;
            width: 100%;
            border: 1px solid #b7b7b7;
            border-radius: 5px;
            background-color: #ffffff;
            line-height: 45px;
            padding: 0px 10px;
            text-align: center; }
            .loginsection .box .filed .filedbox .form .input .btn:hover {
              background-color: #127e09;
              color: white;
              border: 1px solid #127e09; }
        .loginsection .box .filed .filedbox .form .password a {
          color: black;
          float: right;
          font-size: 13px;
          cursor: pointer; }
          .loginsection .box .filed .filedbox .form .password a:hover {
            color: #127e09; }
      .loginsection .box .filed .filedbox:first-child {
        left: 0px; }
      .loginsection .box .filed .filedbox:nth-of-type(2) {
        right: 0px; }
    .loginsection .box .filed .forgetPassword {
      position: absolute;
      width: 100%;
      height: 400px;
      top: 0px;
      left: 0px;
      z-index: -1;
      background-color: #fff;
      -ms-transform: scale(0.7);
      -moz-transform: scale(0.7);
      -o-transform: scale(0.7);
      -webkit-transform: scale(0.7);
      transform: scale(0.7);
      opacity: 0;
      border-radius: 5px;
      overflow: hidden;
      transition: all 0.2s ease 0s;
      -webkit-box-shadow: 0px 0px 50px 1px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0px 0px 50px 1px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 0px 50px 1px rgba(0, 0, 0, 0.1); }
      .loginsection .box .filed .forgetPassword .form {
        padding: 20px 20px;
        background-color: #fff;
        border-radius: 5px;
        max-width: 300px;
        margin: 0px auto; }
        .loginsection .box .filed .forgetPassword .form .close {
          position: absolute;
          color: #b7b7b7;
          font-size: 20px;
          right: 10px;
          top: 10px;
          cursor: pointer; }
          .loginsection .box .filed .forgetPassword .form .close:hover {
            color: #000; }
        .loginsection .box .filed .forgetPassword .form h1 {
          font-size: 24px;
          font-weight: bold;
          text-align: center;
          margin: 40px 0px; }
        .loginsection .box .filed .forgetPassword .form .input {
          margin: 20px 0px; }
          .loginsection .box .filed .forgetPassword .form .input label {
            font-size: 16px;
            color: #000;
            display: block;
            margin-bottom: 5px; }
          .loginsection .box .filed .forgetPassword .form .input input {
            display: block;
            width: 100%;
            border: 1px solid #b7b7b7;
            border-radius: 5px;
            background-color: #ffffff;
            line-height: 45px;
            padding: 0px 10px; }
            .loginsection .box .filed .forgetPassword .form .input input:focus {
              border: 1px solid #127e09; }
          .loginsection .box .filed .forgetPassword .form .input .btn {
            font-size: 16px;
            font-weight: bold;
            margin-top: 25px;
            display: block;
            cursor: pointer;
            display: block;
            width: 100%;
            border: 1px solid #b7b7b7;
            text-align: center;
            border-radius: 5px;
            background-color: #ffffff;
            line-height: 45px;
            padding: 0px 10px; }
            .loginsection .box .filed .forgetPassword .form .input .btn:hover {
              background-color: #127e09;
              color: white;
              border: 1px solid #127e09; }
    .loginsection .box .filed .active.forgetPassword {
      -ms-transform: scale(1);
      -moz-transform: scale(1);
      -o-transform: scale(1);
      -webkit-transform: scale(1);
      transform: scale(1);
      z-index: 3;
      opacity: 1;
      transition: all 0.2s ease 0s; }

#nav-toggle {
  display: none;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  height: 30px;
  width: 35px;
  cursor: pointer; }
  @media (max-width: 979px) {
    #nav-toggle {
      display: block; } }

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #c5c6c6;
  position: absolute;
  display: block;
  content: ''; }

#nav-toggle span {
  top: 14px; }

#nav-toggle span:before {
  top: -10px; }

#nav-toggle span:after {
  bottom: -10px; }

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  transition: all 200ms ease-in-out; }

#nav-toggle.active span {
  background-color: transparent; }

#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0; }

#nav-toggle.active span:before {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

#nav-toggle.active span:after {
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.leftside {
  background-color: #127e09;
  position: fixed;
  left: 0px;
  width: 250px;
  height: 100%;
  top: 0px;
  z-index: 100; }
  @media (max-width: 979px) {
    .leftside {
      left: -250px; }
      .leftside.active {
        left: 0px; } }
  .leftside .close {
    position: absolute;
    right: 15px;
    top: 15px;
    display: none;
    cursor: pointer; }
    @media (max-width: 979px) {
      .leftside .close {
        display: block; } }
  .leftside .profile {
    border-bottom: 1px dashed white;
    padding: 20px 0px; }
    .leftside .profile .img {
      width: 150px;
      height: 150px;
      overflow: hidden;
      border-radius: 100%;
      margin: 0px auto 10px; }
    .leftside .profile .name p {
      font-size: 20px;
      text-align: center; }
  .leftside nav ul li a {
    padding: 15px 0px 15px 25px;
    line-height: 20px;
    margin: 0px 0px;
    position: relative;
    display: block; }
    .leftside nav ul li a .icon {
      width: 24px;
      height: 24px;
      display: inline-block;
      margin-right: 10px; }
      .leftside nav ul li a .icon svg {
        width: 24px;
        height: 24px; }
        .leftside nav ul li a .icon svg g {
          fill: #203336;
          transition: all 0.5s ease 0s; }
    .leftside nav ul li a .link {
      display: inline-block;
      color: #203336;
      font-size: 16px;
      vertical-align: middle; }
  .leftside nav ul li:hover {
    background-color: white; }
    .leftside nav ul li:hover a .icon svg .fill {
      fill: #127e09; }
    .leftside nav ul li:hover a .link {
      color: #127e09; }
  .leftside nav ul li.active {
    background-color: white; }
    .leftside nav ul li.active a .icon svg .fill {
      fill: #127e09; }
    .leftside nav ul li.active a .link {
      color: #127e09; }

.rightside {
  margin-left: 250px;
  width: calc(100% - 250px); }
  @media (max-width: 979px) {
    .rightside {
      margin-left: 0px;
      width: 100%; } }
  .rightside header {
    padding: 0px 20px;
    border-bottom: 1px dashed #127e09; }
    .rightside header .container {
      max-width: 100%; }

.content {
  padding: 20px; }
  .content.addCatalog {
    padding: 20px 20px 0px; }

.summary h2 {
  font-size: 24px;
  font-weight: bold;
  border-bottom: 1px dashed #000;
  padding-bottom: 5px; }

.summary .items {
  margin: 40px 0px; }
  .summary .items .item {
    width: calc(33.33% - 27px);
    float: left;
    margin-right: 40px;
    margin-bottom: 50px;
    text-align: center; }
    .summary .items .item:nth-child(3n) {
      margin-right: 0px; }
    @media (max-width: 1199px) {
      .summary .items .item {
        width: calc(33.33% - 14px);
        margin-right: 20px;
        margin-bottom: 40px; } }
    @media (max-width: 767px) {
      .summary .items .item {
        width: calc(50% - 10px); }
        .summary .items .item:nth-child(3n) {
          margin-right: 20px; }
        .summary .items .item:nth-child(2n) {
          margin-right: 0px; } }
    .summary .items .item .icon {
      display: inline-block;
      width: 100px; }
      @media (max-width: 1199px) {
        .summary .items .item .icon {
          width: 50px; } }
      @media (max-width: 479px) {
        .summary .items .item .icon {
          margin: 0px auto;
          display: block; } }
    .summary .items .item .info {
      display: inline-block;
      vertical-align: bottom;
      padding-left: 35px; }
      @media (max-width: 1199px) {
        .summary .items .item .info {
          padding-left: 15px; } }
      @media (max-width: 479px) {
        .summary .items .item .info {
          text-align: center;
          display: block;
          padding-left: 0px; } }
      .summary .items .item .info h3 {
        font-size: 16px;
        font-style: italic;
        font-weight: lighter; }
        .summary .items .item .info h3.number {
          font-size: 60px;
          font-style: initial;
          font-weight: normal; }
          @media (max-width: 1199px) {
            .summary .items .item .info h3.number {
              font-size: 45px; } }

.emergency .items .item .info {
  display: block;
  padding-left: 0px; }
  .emergency .items .item .info h3 {
    display: block;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px; }

.emergency .items .item .icon {
  display: inline-block;
  width: 250px;
  overflow: hidden;
  border-radius: 100%; }
  @media (max-width: 1199px) {
    .emergency .items .item .icon {
      width: 150px; } }
  @media (max-width: 479px) {
    .emergency .items .item .icon {
      width: 100px; } }

.content .tilte {
  border-bottom: 1px dashed #000;
  margin-bottom: 15px;
  padding: 0px 0px 10px; }
  .content .tilte h1 {
    font-size: 24px;
    font-weight: bold;
    float: left;
    padding-bottom: 5px; }
    @media (max-width: 479px) {
      .content .tilte h1 {
        font-size: 18px; } }
  .content .tilte .btn {
    float: right; }

.table-scroll {
  overflow-x: auto;
  width: 100%; }

table {
  text-align: center;
  background: #fff;
  border-collapse: collapse;
  width: 100%; }
  table thead {
    border-bottom: 1px solid #e2eaf4; }
    table thead tr th {
      background: #FAFBFC;
      color: black;
      vertical-align: middle;
      padding: 15px 10px;
      font-weight: bold;
      font-size: 16px;
      letter-spacing: 0.5px;
      text-align: center;
      border: 1px solid #e2eaf4; }
  table tbody tr td {
    color: #243639;
    padding: 10px 10px;
    border: 1px solid #e2eaf4;
    font-size: 13px;
    text-align: center;
    vertical-align: middle; }
    table tbody tr td .icon {
      display: block;
      width: 50px;
      margin-top: 6px; }
      table tbody tr td .icon .edit {
        display: inline-block;
        margin-right: 10px;
        cursor: pointer; }
        table tbody tr td .icon .edit:hover svg path {
          fill: #127e09; }
      table tbody tr td .icon .delete {
        cursor: pointer;
        display: inline-block; }
        table tbody tr td .icon .delete:hover svg path {
          fill: #127e09; }

.input {
  margin-bottom: 25px; }
  .input label {
    font-size: 13px;
    line-height: 25px;
    text-transform: uppercase;
    color: rgba(49, 67, 122, 0.5);
    display: block;
    font-weight: bold; }
  .input input, .input textarea, .input select {
    line-height: normal;
    padding: 10px 15px;
    border-radius: 3px;
    background-color: #ffffff;
    border: solid 1px rgba(154, 173, 192, 0.5);
    font-size: 16px;
    letter-spacing: 0.4px;
    width: 100%;
    color: #3c4144; }
    .input input:focus, .input textarea:focus, .input select:focus {
      border: solid 1px #127e09; }
  .input textarea {
    height: 109px; }
  .input input.btn {
    font-size: 16.2px;
    letter-spacing: 3px;
    color: rgba(36, 54, 57, 0.37);
    max-width: 250px;
    text-align: center;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.11);
    border: solid 1px rgba(154, 173, 192, 0.05);
    border-radius: 4px;
    padding: 16px 0px;
    cursor: pointer;
    background: #fff;
    margin: 0px auto;
    display: block; }
    .input input.btn:hover {
      color: #fff;
      background-color: #37c4a3; }
  .input input[type=number]::-webkit-inner-spin-button,
  .input input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; }
  .input .error p {
    color: #ff2f2f;
    padding: 5px; }

h3 {
  font-weight: bold;
  padding: 15px 0px 10px;
  font-size: 20px; }

.group {
  width: 100%; }
  .group .input {
    width: calc(50% - 20px);
    float: left; }
    .group .input:last-child {
      margin-left: 20px;
      margin-right: 0px; }
    .group .input:first-child {
      margin-right: 20px;
      margin-left: 0px; }
    @media (max-width: 479px) {
      .group .input {
        width: 100%; }
        .group .input:last-child {
          margin-left: 0px;
          margin-right: 0px; }
        .group .input:first-child {
          margin-right: 0px;
          margin-left: 0px; } }

.groupThree {
  width: 100%; }
  .groupThree .input {
    width: calc(33.33% - 14px);
    float: left;
    margin: 25px 10px 0px; }
    .groupThree .input:last-child {
      margin-left: 10px;
      margin-right: 0px; }
    .groupThree .input:first-child {
      margin-right: 10px;
      margin-left: 0px; }

.single {
  width: 100%; }

.label {
  width: 100%;
  float: left;
  margin: 25px 0px 0px; }
  .label label {
    font-size: 13px;
    line-height: 25px;
    letter-spacing: 1.6px;
    color: rgba(49, 67, 122, 0.46);
    padding-bottom: 10px;
    display: block;
    font-weight: bold; }

.customFile {
  position: relative;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin: 0px auto; }
  .customFile input {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px; }

.filter .left {
  float: left;
  width: calc(30% - 10px); }
  @media screen and (max-width: 767px) {
    .filter .left {
      width: 100%; } }

.filter .right {
  float: right;
  width: calc(70% - 10px); }
  @media screen and (max-width: 767px) {
    .filter .right {
      width: 100%; } }

.modal {
  position: fixed;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -1;
  padding: 15px;
  transition: z-index 0s ease 0.5s,all 0.5s ease 0s; }
  @media screen and (max-width: 480px) {
    .modal {
      padding: 0px; } }
  .modal.active {
    opacity: 1;
    z-index: 9999;
    transition: all 0.5s ease 0s; }
  .modal .box {
    max-height: 95%;
    max-width: 80%;
    background: #fff;
    margin: 0px auto;
    top: 50%;
    transform: translateY(-50%);
    position: relative;
    border-radius: 3px;
    overflow: auto; }
    @media screen and (max-width: 480px) {
      .modal .box {
        max-width: 100% !important;
        max-height: 100%;
        height: 100%;
        width: 100%; } }
    .modal .box .close {
      position: static;
      float: none; }
    .modal .box .icon {
      position: absolute;
      top: 10px;
      right: 10px;
      z-index: 10; }
      .modal .box .icon svg {
        height: 16px;
        width: 16px;
        fill: #cccccc; }
      .modal .box .icon:hover svg path {
        fill: #000; }
      .modal .box .icon.highlighted svg path {
        fill: #000; }
